.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  float: right;
}

.title {
  font-family: "Courier New", Courier, monospace;
  margin: 5px auto;
  background-color: #f2cd5c;
  color: black;
  padding: 0 100px;
  font-weight: bolder;
  border: solid 2px green;
}
h5 {
  font-weight: bolder;
  text-align: left;
  margin: 0 auto;
}
h1 {
  font-family: "Brush Script MT", cursive;
  font-weight: bolder;
  font-size: 50px;
  font-variant: small-caps;
}
h4 {
  margin: auto 0 0;
  background-color: #f2cd5c;
  border: 1px dotted;
}

input {
  max-width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #15133c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Courier New", Courier, monospace;
}
.displaySavings {
  font-family: "Courier New", Courier, monospace;
  margin: 10px auto;
  border: thick double green;
  background: #f2cd5c;
  color: black;
  padding: 0 10vh;
}

.portfolio {
  color: #282c34;
  display: flexbox;
  background-color: bisque;
  width: 100%;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.button2 {
  background-color: red;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}
.App-link {
  color: #61dafb;
}

.buySellInput {
  margin: auto;
}

.createPortfolio {
  display: flex;
  justify-content: center;
}
.createPortfolio p {
  font-weight: 600;
  margin: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
